body {
	background-color: #FFF;
	font-family: 'Oswald', sans-serif;
}

.header-top {
	padding: 1em;
}

.header-search {
	float: left;
	overflow: hidden;
}

.social-media {
	float: right;
}

.header-title {
	width: 30%;
}

.header-nav-link {
	font-weight: 600;
	font-family: 'Oswald', sans-serif;
	color: #42070B;
	}

.header-nav-link:hover {
	font-color: #E1ABAE;
}

.container {
	text-align: center;
}

.subtitle {
	background-color: #FFF;
	padding: 2em
}

.gallery {
	border: 30em;
}

h1 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 34;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 28;
	color: #42070B;
	text-align: center;
}

h6 {
	font-family: 'Gabriola', sans-serif;
	font-size: 50;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20;
	padding-left: 5em;
	padding-right: 5em;
}

h4 {
	font-family: 'Gabriola', sans-serif;
	font-size: 70;
}