body {
	background-color: #FFF;
	font-family: 'Oswald', sans-serif;
}

.header-top {
	padding-top: 0.5em;
	padding-bottom: 2em;
}

.switch-language {
	float: left;
	overflow: hidden;
	top: 50%;
	left: 30px;
	padding-left: 1em;
	color: #42070B;
}

.header-title {
	padding-top: 1em;
	padding-bottom: 1em;
}

.social-media {
	float: right;
}

.facebook {
	color: #42070B;
	content: "/f39e";
}

.instagram {
	color: #42070B;
}

.whatsapp {
	color: #42070B;
}

.email {
	color: #42070B;
}

.header-nav {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-top: 1px solid #eee;
}

.header-nav-link {
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	font-size: 30;
	color: #42070B;
	}

.header-nav-link:hover {
	font-color: #E1ABAE;
}

.header-nav > dropdown-select a::after {
	border-style: none;
	background-image: none;
	padding-right: 0em;
}

.intro-title {
	padding-top: 1.5em;
}

.info-photo {
	width: 40%;
	float: right;
	padding-top: 8em;
}

.textbox {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 24px;
	width: 60%;
	padding: 2em;
	float: left;

}

h1 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 34;
}

h2 {
	font-family: 'PT Serif', sans-serif;
	font-size: 30px;
	color: #000;
	text-align: center;
}

h6 {
	font-family: 'Gabriola', sans-serif;
	font-size: 50;
}

p {

}

h4 {
	font-family: 'Gabriola', sans-serif;
	font-size: 70;
}